
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 23rem;
}.about-button-YUg {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem 2rem 2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #9747ff;

  .about-UdE {
    margin-bottom: 18.8rem;
    width: 100%;
    height: 5.9rem;
    cursor: pointer;
    flex-shrink: 0;

    .about-button-S4G {
      display: flex;
      font-family: Martel Sans, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      font-size: 3.2rem;
      width: 100%;
      height: 100%;
      cursor: pointer;
      font-weight: 400;
      box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.25);
      line-height: 1.825;
      color: #000000;
      white-space: nowrap;
      background-color: rgba(0, 0, 0, 0.0799999982);
      border-radius: 2rem;
    }
  }
  .property-1about-7AQ {
    width: 100%;
    height: 5.9rem;
    flex-shrink: 0;

    .about-button-4bS {
      font-size: 3.2rem;
      font-family: Martel Sans, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(0, 0, 0, 0.0799999982);
      display: flex;
      justify-content: center;
      border-radius: 2rem;
      height: 100%;
      cursor: pointer;
      font-weight: 400;
      box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.25);
      width: 100%;
      line-height: 1.825;
      color: #000000;
      align-items: center;
    }
  }
}
