
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-page-faG {
  height: 420.3rem;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(0.2rem);
  background-color: #4e6e81;
  width: 100%;

  .pic-Gpx {
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:6458fa884bd1b959b18cc9a3b3f4efc504f47e56');
    width: 175.5rem;
    left: 0;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-size: 100% 100%;
    height: 111rem;
  }
  .gradient-fEp {
    left: 0;
    top: 0;
    filter: blur(1rem);
    background-color: rgba(230, 225, 225, 0.5);
    width: 144rem;
    height: 103.9rem;
    position: absolute;
  }
  .rectangle-1-AhN {
    left: 73.1rem;
    top: 39rem;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.200000003);
    background-color: rgba(217, 217, 217, 0.5400000215);
    border-radius: 4rem;
    width: 66.7rem;
    height: 29.9rem;
    position: absolute;
  }
  .about-4Gx {
    height: 40.9rem;
    left: 71.9rem;
    top: 41.2rem;
    font-size: 9.6rem;
    width: 65rem;
    position: absolute;
    text-align: right;
    font-weight: 400;
    line-height: 1.27;
    color: #000000;
    font-family: Allison, 'Source Sans Pro';

    .about-4Gx-sub-0 {
      font-size: 4.8rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: Sen, 'Source Sans Pro';
    }
    .about-4Gx-sub-1 {
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.1625;
      color: #000000;
      font-family: Sen, 'Source Sans Pro';
    }
    .about-4Gx-sub-2 {
      font-size: 4.8rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: Sen, 'Source Sans Pro';
    }
    .about-4Gx-sub-3 {
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.1625;
      color: #000000;
      font-family: Sen, 'Source Sans Pro';
    }
    .about-4Gx-sub-4 {
      font-size: 4.8rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: Sen, 'Source Sans Pro';
    }
    .about-4Gx-sub-5 {
      font-weight: 700;
      line-height: 1.1625;
      color: #000000;
      font-family: Sen, 'Source Sans Pro';
      font-size: 4.8rem;
    }
    .about-4Gx-sub-6 {
      font-size: 3.6rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: Sen, 'Source Sans Pro';
    }
    .about-4Gx-sub-7 {
      line-height: 1.2575;
      color: #000000;
      font-family: Sen, 'Source Sans Pro';
      font-size: 4.8rem;
      font-weight: 400;
    }
    .about-4Gx-sub-8 {
    }
  }
  .skill-vtp {
    position: absolute;
    font-size: 4.8rem;
    font-weight: 400;
    font-family: Sedan, 'Source Sans Pro';
    text-align: center;
    line-height: 1.2575;
    color: #000000;
    white-space: nowrap;
    width: 56.5rem;
    height: 6.1rem;
    left: 78.5rem;
    top: 60.9rem;
  }
  .next-page-ScG {
    left: 0;
    top: 102.4rem;
    background-color: #e0e0e3;
    width: 144rem;
    height: 110.5rem;
    position: absolute;
  }
  .merge-PGc {
    filter: blur(5rem);
    background-color: #d9d9d9;
    width: 152.2rem;
    height: 19.1rem;
    position: absolute;
    left: 0;
    top: 93.8rem;
  }
  .intro-ipg {
    position: absolute;
    left: 28rem;
    top: 137.5rem;
    background-repeat: no-repeat;
    background-position: center;
    padding: 11.6rem 5.9rem 10.5rem 5.8rem;
    width: 84rem;
    background-size: 100% 100%;
    background-image: url('REPLACE_IMAGE:1ee497f83b26cf0eb48986e4d2812ead0bb8a62e');
    box-sizing: border-box;
    height: 47.3rem;

    .intro-txt-or8 {
      max-width: 72.3rem;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: Sedan, 'Source Sans Pro';
    }
  }
  .gamedev-illus-KZa {
    position: absolute;
    left: 94rem;
    top: 121.9rem;
    object-fit: cover;
    vertical-align: top;
    width: 35.9rem;
    height: 31.2rem;
  }
  .myself-EAk {
    position: absolute;
    color: #000000;
    width: 20.4rem;
    height: 7.9rem;
    left: 58.8rem;
    top: 119.3rem;
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 1.22;
    font-family: Overlock SC, 'Source Sans Pro';
    white-space: nowrap;
  }
  .skillset-8G8 {
    height: 103.7rem;
    position: absolute;
    left: 0;
    top: 212.9rem;
    background-color: #f7efe5;
    width: 144rem;
  }
  .merge-rxp {
    left: 0;
    top: 203.3rem;
    filter: blur(5rem);
    background-color: #f7efe5;
    width: 152.2rem;
    height: 19.1rem;
    position: absolute;
  }
  .about-button-AyW {
    width: 19rem;
    height: 5.9rem;
    cursor: pointer;
    position: absolute;
    left: 46.7rem;
    top: 6.9rem;

    .about-button-JZv {
      align-items: center;
      justify-content: center;
      font-size: 3.2rem;
      background-color: rgba(0, 0, 0, 0.0799999982);
      border-radius: 2rem;
      box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.25);
      width: 100%;
      cursor: pointer;
      font-family: Martel Sans, 'Source Sans Pro';
      height: 100%;
      display: flex;
      color: #000000;
      white-space: nowrap;
      font-weight: 400;
      line-height: 1.825;
    }
  }
  .home-button-Mo6 {
    cursor: pointer;
    align-items: center;
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.25);
    font-family: Martel Sans, 'Source Sans Pro';
    background-color: rgba(0, 0, 0, 0.0799999982);
    top: 6.9rem;
    justify-content: center;
    line-height: 1.825;
    color: #000000;
    width: 19rem;
    left: 18.5rem;
    font-weight: 400;
    white-space: nowrap;
    border-radius: 2rem;
    height: 5.9rem;
    position: absolute;
    display: flex;
    font-size: 3.2rem;
  }
  .skills-16x {
    height: 74.2rem;
    position: absolute;
    top: 224.4rem;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 1.3rem;
    width: 98.1rem;
    left: 20.9rem;
    display: flex;

    .my-skillset-6eC {
      margin: 0rem 0.8rem 4.2rem 0rem;
      display: flex;
      font-size: 6.4rem;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      line-height: 1.22;
      font-family: Overlock SC, 'Source Sans Pro';
    }
    .auto-group-vmx4-ChE {
      align-items: flex-start;
      flex-shrink: 0;
      width: 100%;
      display: flex;
      column-gap: 2.4rem;

      .auto-group-r4lg-LYY {
        padding: 12.4rem 4.6rem 8.7rem 6rem;
        width: 30.9rem;
        background-size: 100% 100%;
        flex-shrink: 0;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:721c338d3d948514b87db2dc0a1bc1ab899663c3');
        height: 30.2rem;

        .various-game-engines-rFz {
          font-family: Sedan, 'Source Sans Pro';
          max-width: 20.3rem;
          display: flex;
          align-items: center;
          font-size: 3.6rem;
          font-weight: 400;
          justify-content: center;
          line-height: 1.2575;
          color: #000000;
        }
      }
      .auto-group-vqqy-j4t {
        background-position: center;
        background-image: url('REPLACE_IMAGE:721c338d3d948514b87db2dc0a1bc1ab899663c3');
        height: 30.2rem;
        background-repeat: no-repeat;
        width: 30.7rem;
        background-size: 100% 100%;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 10.9rem 9.1rem 10.2rem 9.1rem;

        .critical-thinking-FZ2 {
          justify-content: center;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Sedan, 'Source Sans Pro';
          max-width: 12.5rem;
          display: flex;
          align-items: center;
          font-size: 3.6rem;
        }
      }
      .auto-group-xjbv-N7r {
        background-size: 100% 100%;
        padding: 12.05rem 5.25rem 9.05rem 8.25rem;
        box-sizing: border-box;
        width: 31.7rem;
        height: 30.2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:721c338d3d948514b87db2dc0a1bc1ab899663c3');
        flex-shrink: 0;
        margin-top: 0.4rem;

        .story-telling-ability-HEp {
          max-width: 18.2rem;
          font-size: 3.6rem;
          font-weight: 400;
          color: #000000;
          font-family: Sedan, 'Source Sans Pro';
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 1.2575;
        }
      }
    }
    .auto-group-repa-aDv {
      width: calc(100% - 35.3rem);
      height: 30.2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 18.4rem 0rem 16.9rem;

      .auto-group-3nkg-J9v {
        margin-right: 0.9rem;
        align-items: center;
        flex-shrink: 0;
        height: 100%;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #000000;
        width: 30.5rem;
        display: flex;
        justify-content: center;
        white-space: nowrap;
        background-repeat: no-repeat;
        font-family: Sedan, 'Source Sans Pro';
        background-size: 100% 100%;
        background-position: center;
        background-image: url('REPLACE_IMAGE:721c338d3d948514b87db2dc0a1bc1ab899663c3');
      }
      .auto-group-gyqg-NvU {
        width: 31.4rem;
        align-items: center;
        color: #000000;
        background-image: url('REPLACE_IMAGE:721c338d3d948514b87db2dc0a1bc1ab899663c3');
        justify-content: center;
        font-size: 3.6rem;
        flex-shrink: 0;
        display: flex;
        white-space: nowrap;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        font-weight: 400;
        line-height: 1.2575;
        font-family: Sedan, 'Source Sans Pro';
        background-size: 100% 100%;
      }
    }
  }
  .skillset-button-Gkx {
    top: 6.9rem;
    align-items: center;
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.25);
    width: 19rem;
    cursor: pointer;
    left: 74.9rem;
    font-size: 3.2rem;
    line-height: 1.825;
    color: #000000;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    height: 5.9rem;
    position: absolute;
    font-weight: 400;
    font-family: Martel Sans, 'Source Sans Pro';
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.0799999982);
  }
  .interests-vqW {
    background-color: #e0e0e3;
    width: 144.5rem;
    height: 103.9rem;
    position: absolute;
    left: 0;
    top: 316.6rem;
  }
  .merge-U6L {
    filter: blur(5rem);
    background-color: #f7efe5;
    width: 152.2rem;
    height: 19.1rem;
    position: absolute;
    left: 0;
    top: 307rem;
  }
  .hobbies-1c4 {
    padding: 0rem 9.9rem 0rem 10.9rem;
    height: 66.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 101.7rem;
    position: absolute;
    left: 20.9rem;
    top: 333.6rem;

    .hobbies-7QC {
      line-height: 1.22;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      font-size: 6.4rem;
      font-family: Overlock SC, 'Source Sans Pro';
      margin: 0rem 1rem 6.45rem 0rem;
      display: flex;
      font-weight: 400;
    }
    .auto-group-qg96-dtL {
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 52.2rem;
      display: flex;

      .auto-group-tbmr-aoa {
        flex-shrink: 0;
        margin-right: 2.8rem;
        width: 50rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .rectangle-8-LGx {
          border-radius: 2rem;
          flex-shrink: 0;
          margin-bottom: 4.7rem;
          width: 50rem;
          height: 28.4rem;
          object-fit: cover;
          vertical-align: top;
        }
        .auto-group-cywz-Fui {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .rectangle-9-ckG {
            vertical-align: top;
            border-radius: 2rem;
            flex-shrink: 0;
            margin-right: 2.9rem;
            width: 26.2rem;
            height: 19.1rem;
            object-fit: cover;
          }
          .rectangle-10-gNk {
            width: 20.9rem;
            height: 19.1rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 2rem;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-tukr-oyA {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 28.1rem;
        height: 100%;
        align-items: flex-end;

        .auto-group-ucme-ZSY {
          margin-bottom: 0.15rem;
          width: 100%;
          height: 25.55rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-14-hoe {
            width: 28rem;
            height: 21.4rem;
            position: absolute;
            left: 0.1rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            border-radius: 2rem;
          }
          .songs-E2t {
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            top: 21.25rem;
            display: flex;
            position: absolute;
            left: 0;
            font-size: 3.4rem;
            font-family: Sedan, 'Source Sans Pro';
            white-space: nowrap;
            width: 8.7rem;
            height: 4.3rem;
          }
        }
        .rectangle-13-Lbi {
          border-radius: 2rem;
          flex-shrink: 0;
          width: 28rem;
          height: 26.5rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
  }
  .football-GkG {
    font-weight: 400;
    line-height: 1.2575;
    font-family: Sedan, 'Source Sans Pro';
    white-space: nowrap;
    height: 4.3rem;
    position: absolute;
    left: 31.8rem;
    font-size: 3.4rem;
    width: 11.7rem;
    top: 376.55rem;
    display: flex;
    color: #000000;
  }
  .reading-yua {
    white-space: nowrap;
    display: flex;
    color: #000000;
    font-family: Sedan, 'Source Sans Pro';
    left: 31.8rem;
    top: 400.25rem;
    font-size: 3.4rem;
    font-weight: 400;
    line-height: 1.2575;
    width: 11.6rem;
    height: 4.3rem;
    position: absolute;
  }
  .movies-uHS {
    left: 60.7rem;
    font-size: 3.4rem;
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
    width: 9.9rem;
    position: absolute;
    display: flex;
    line-height: 1.2575;
    font-family: Sedan, 'Source Sans Pro';
    height: 4.3rem;
    top: 400.25rem;
  }
  .doodling-RWg {
    font-size: 3.4rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #000000;
    width: 13rem;
    height: 4.3rem;
    top: 400.25rem;
    display: flex;
    font-family: Sedan, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 84.6rem;
  }
  .hobbies-button-M9S {
    position: absolute;
    left: 103.1rem;
    top: 6.9rem;
    align-items: center;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.0799999982);
    height: 5.9rem;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.25);
    width: 19rem;
    cursor: pointer;
    display: flex;
    line-height: 1.825;
    white-space: nowrap;
    font-size: 3.2rem;
    color: #000000;
    font-family: Martel Sans, 'Source Sans Pro';
  }
}
